.main{
    background-color: white;
}
.linkedin{
    width: 7vh;
    margin-left: 20%;
    animation: linkedin 3s linear ;
}
@keyframes linkedin{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(90);

    }
}
.instagram{
    width: 10vh;
    margin-left: 0%;
    animation: instagram 3s linear;
}
@keyframes instagram{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(90);
    }
}
.homeimg{
    width: 400px;
   display: flex;
   justify-content: space-around;
   top: 10%;
    left: 0;
    filter: drop-shadow(-1px -1px 10px #020202);
}
.homeimg{
    animation: homeimg 3s linear;
}
@keyframes homeimg{
    0%{
        opacity: 0;
    }
    75%{
       
        opacity: 1;
    }
}
.home{
    animation: home 5s linear;
    padding-left: 10%;
    padding-bottom: 3%;
    color: black;
}
@keyframes home{
    0%{
        transform: translatey(-90%);
        opacity: 0;
    }
    50%{
        transform: translatey(0%);
        opacity: 1;
    }

}
.study{
    animation: home 5s linear;
}
@keyframes study{
    10%{
        transform: translatey(-70%);
        opacity: 0;
        color: black;
    }
    50%{
        transform: translatey(0%);
        opacity: 1;
        color: rgb(5, 5, 5);
    }

}
.image{
    animation: home 5s linear;
}
@keyframes image{
    20%{
        transform: translatey(-90%);
        opacity: 0;
    }
    50%{
        transform: translatey(0%);
        opacity: 1;
    }

}
.contact{
    animation: home 5s linear;
}
@keyframes contact{
    30%{
        transform: translatey(-70%);
        opacity: 0;
    }
    50%{
        transform: translatey(0%);
        opacity: 1;
    }

}
.about{
    margin-left: 85%;
    margin-top: -3%;
    color: rgb(131, 130, 130);
    background-color:transparent;
    border: 2px solid;
    width: 95px;
    height: 33px;
    border-radius: 10%;
    text-shadow: #000000 2px solid ;
}

.about:active{
    background-color: rgb(0, 0, 0);
    color: white;
}