.main{
    background-color: white;
}
.linkedin{
    width: 4%;
    margin-left: 50%;
    animation: linkedin 3s linear ;
}
@keyframes linkedin{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(90);

    }
}
.instagram{
    width: 6%;
    margin-left: 0%;
    animation: instagram 3s linear;
}
@keyframes instagram{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(90);
    }
}
.homeimg{
    width: 400px;
   display: flex;
   justify-content: space-around;
   top: 10%;
    left: 0;
    filter: drop-shadow(-1px -1px 10px #020202);
}
.homeimg{
    animation: homeimg 3s linear;
}
@keyframes homeimg{
    0%{
        opacity: 0;
    }
    75%{
       
        opacity: 1;
    }
}
.home{
    animation: home 5s linear;
    padding-left: 2%;
    padding-bottom: 3%;
    color: black;
}
@keyframes home{
    0%{
        transform: translatey(-90%);
        opacity: 0;
    }
    50%{
        transform: translatey(0%);
        opacity: 1;
    }

}
.study{
    animation: home 5s linear;
}
@keyframes study{
    10%{
        transform: translatey(-70%);
        opacity: 0;
        color: black;
    }
    50%{
        transform: translatey(0%);
        opacity: 1;
        color: rgb(5, 5, 5);
    }

}
.image{
    animation: home 5s linear;
}
@keyframes image{
    20%{
        transform: translatey(-90%);
        opacity: 0;
    }
    50%{
        transform: translatey(0%);
        opacity: 1;
    }

}
.contact{
    animation: home 5s linear;
}
@keyframes contact{
    30%{
        transform: translatey(-70%);
        opacity: 0;
    }
    50%{
        transform: translatey(0%);
        opacity: 1;
    }

}
.about{
    margin-left: 90%;
    margin-top: -3%;
    color: rgb(131, 130, 130);
    background-color:#9509e0;
    border: 2px solid;
    width: 3%;
    height:auto;
    box-shadow: 0 0 50px 10px #9509e0;
    border-radius: 10px;
    
}

.about:active{
    background-color: #630099;
}
.anim{
    animation: anim 5s linear infinite;
    overflow: hidden;
}
@keyframes anim{
   0%{
    transform: translateX(-100%);
   }
   100%{
    transform: translateX(100%);
   }
}
@media(max-width: 600px){
    .linkedin{
        width: 50px;
        height: auto;
        margin-left: 40%;
    }
    .instagram{
        width: 75px;
        height: auto;
    }
    .about{
        width: 40px;
        height: auto;
        margin-bottom: 5%;
        margin-left: 85%;
    }
}

.familyheader{
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0 40px 0 ;
    font-size: 25px;
}
.divanim{
   width: 100%;
   height: 400px;
   background:linear-gradient( to right ,rgba(0, 47, 255, 0.61) 25%,rgb(254, 254, 255) 100%);
   animation: divanim 5s alternate ;
}
@keyframes divanim{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
.familyimg{
    margin: -185px 50px 60px 400px;
    border-radius: 50%;
    width: 45%;
}
.johntitle{
    width: 50%;
    height: 100%;
    
}
.tit{
     text-transform: uppercase;
     padding: 50px 100px 10px 250px;
     font-size: 30px;
     color: white;
}
.para{
    width: 80%;
    height: auto;
    text-align: center;
    padding: 50px;
}
.resume{
    width: 100%;
    height: auto;
}