.main{
    background-color: white;
}



.linkedin{
    width: 10vh;
    margin-left: 40%;
}
.instagram{
    width: 15vh;
    margin-left: 0%;
}
.homeimg{
    width: 400px;
   display: flex;
   justify-content: space-around;
   top: 10%;
    left: 0;
    filter: drop-shadow(-1px -1px 10px #020202);
}
.homeimg{
    animation: homeimg 3s linear;
}
@keyframes homeimg{
    0%{
        opacity: 0;
    }
    75%{
       
        opacity: 1;
    }
}
.home{
    animation: home 5s linear;
    padding-left: 10%;
    padding-bottom: 3%;
    color: black;
}
@keyframes home{
    0%{
        transform: translatey(-90%);
        opacity: 0;
    }
    50%{
        transform: translatey(0%);
        opacity: 1;
    }

}
.study{
    animation: home 5s linear;
}
@keyframes study{
    10%{
        transform: translatey(-70%);
        opacity: 0;
        color: black;
    }
    50%{
        transform: translatey(0%);
        opacity: 1;
        color: rgb(5, 5, 5);
    }

}
.image{
    animation: home 5s linear;
}
@keyframes image{
    20%{
        transform: translatey(-90%);
        opacity: 0;
    }
    50%{
        transform: translatey(0%);
        opacity: 1;
    }

}
.contact{
    animation: home 5s linear;
}
@keyframes contact{
    30%{
        transform: translatey(-70%);
        opacity: 0;
    }
    50%{
        transform: translatey(0%);
        opacity: 1;
    }

}