.hero{
width: 100%;
height: 100vh;
background-image: url(images/home\ background.jpg);
background-size: cover;
background-position: center;
position: relative;
overflow: hidden;

}
.homeimg{
    width: 400px;
   display: flex;
   justify-content: space-around;
   top: 10%;
    left: 0;
    filter: drop-shadow(-1px -1px 10px #020202);
}
.homeimg{
    animation: homeimg 3s linear;
}
@keyframes homeimg{
    0%{
        transform: translatex(-80vh);
        transform: translatey(-80vh);
        opacity: 0;
    }
    25%{
       
        opacity: 1;
    }
     100%{
       
        opacity: 1;
    }
    100%{
        transform: translatex(0);
        transform: translatey(0);
        opacity: 1;
    }
}
.homebutton{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
